<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackShineLogin</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/nav2.css"/>
    <link rel="stylesheet" href="/download.css"/>
</head>

<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <a href="/Index.ejs"><img src="/รูปภาพ/LOGO2.png" class="logo"/></a>
  <div class="BGnav"></div>
  <ul>
    <li class="item"><a href="/news.ejs">NEWS</a></li>
    <li class="item"><a href="/download.ejs">Download</a></li>
    <li class="item"><a href="/community.ejs">Community</a></li>
    <li class="item button"><a href="/logout" class="btn2">LogOut</a></li>
  </ul>
</nav>

    <div class="BGIMG"></div>

      <div class="table-menu">
        <div class="content-index">
          <table>
            <tr>
                <th class="img1">
                    <h2>Map Model</h2>
                    <br>
                    <img src="/รูปภาพ/map.png" alt="map model" style="width: 50%;">
                </th>
                <th class="Download">
                    <h1>Download Click Here !!!</h1>
                    <br>
                    <a href="#"><img src="/รูปภาพ/download.png" alt="Download" style="width: 50%"></a>
                </th>
                <th class="img2">
                    <h2>Game Play</h2>
                    <br>
                    <img src="/รูปภาพ/game play.png" alt="Game Play" style="width: 80%;">
                </th>
            </tr>
        </table>
        </div>
      </div>
    
      <footer>
        <p>© 2021 BlackShine the Series</p>
      </footer>

  </body>
</html>