<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackShineLogin</title>
    <link rel="stylesheet" href="/nav2.css"/>
    <link rel="stylesheet" href="/Login.css"/>
</head>

<body>
    <div class="BGIMG"></div>
      <nav class="navbar">
          <a href="/Index.html"><img src="/WebSite/รูปภาพ/LOGO2.png" class="logo" /></a>
          <ul>
            <li><a href="/WebSite/news.html">NEWS</a></li>
            <li><a href="/WebSite/download.html">Download</a></li>
            <li><a href="/WebSite/community.html">Community</a></li>
          </ul>
        </nav>
      <div class="table-menu">
            <div class="BGcontainer">
                <div class="container">
                    <h2>Login</h2>
                    <input class="textbox" type="text" placeholder="Username">
                    <input class="textbox" type="password" placeholder="Password">
                    <input class="btn" type="submit" value="login">
                    <a href="/WebSite/Register.html">Sign Up</a>
                </div>
            </div>
        </div>
        <footer>
          <p>© 2021 BlackShine the Series</p>
        </footer>
</body>
</html>